{% extends "base.html" %}
{% block content %}
<h2>Table of Human Foods, As Ranked by My Cats</h2>
<table class="center">
    <tr>
        <th>Food Name</th>
        <th>Accident/On Purpose</th>
        <th>Cat Rating</th>
    </tr>
    <tr>
        <td>Cheese</td>
        <td>Both</td>
        <td>Infinity</td>
    </tr>
    <tr>
        <td>Pizza</td>
        <td>Accident</td>
        <td>Infinity</td>
    </tr>
    <tr>
        <td>Turkey</td>
        <td>Both</td>
        <td>Infinity</td>
    </tr>
    <tr>
        <td>Green Beans</td>
        <td>On Purpose (they're harmless for cats)</td>
        <td>Vile and Disgusting</td>
    </tr>
</table>
{% endblock %}