<!-- Extends guest base page because user is not registered/logged in yet -->
{% extends "guest.html" %}
{% block content %}
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New user? <a href="{{ url_for('registration') }}">Click to Register!</a></p>
{% endblock %}