{% extends "base.html" %}
{% block content %}
    <h2>Facts about Tater Tot</h2>
    <h3>Quick facts</h3>
    <ul>
        <li>(Almost) 5 years old</li>
        <li>Black cat</li>
        <li>Female</li>
        <li>8.5 lb</li>
    </ul>
    <h3>Favorite foods</h3>
    <ol>
      <li>Cheese</li>
      <li>Fish</li>
      <li>Chicken</li>
      <li>Any other human food that isn't veggies or fruit</li>
      <li>Her actual wet canned food</li>
      <li>Her actual dry food</li>
    </ol>
    <h3>Pictures</h3>
    <img src="/static/tater1.jpg" style="max-width:500px; max-height:500px;">
    <img src="/static/tater2.jpeg" style="max-width:500px; max-height:500px;">
    <img src="/static/tater3.jpg" style="max-width:500px; max-height:500px;">
{% endblock %}