{% extends "base.html" %}
{% block content %}
    <h2>Facts about Zebra</h2>
    <h3>Quick facts</h3>
    <ul>
        <li>5 years old</li>
        <li>Tuxedo cat</li>
        <li>Male</li>
        <li>14 lb</li>
    </ul>
    <h3>Favorite foods</h3>
    <ol>
      <li>Cheese</li>
      <li>Chicken</li>
      <li>Fish</li>
      <li>His actual wet canned food, or human food that isn't veggies or fruit</li>
      <li>His actual dry food</li>
    </ol>
    <h3>Pictures</h3>
    <img src="/static/zebra1.jpeg" style="max-width:500px; max-height:500px;">
    <img src="/static/zebra2.jpg" style="max-width:500px; max-height:500px;">
    <img src="/static/zebra3.jpg" style="max-width:500px; max-height:500px;">
    <img src="/static/zebra4.jpg" style="max-width:500px; max-height:500px;">
{% endblock %}